@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h1>@Localizer["Form"]</h1>
@using (Html.BeginForm())
{
    using (Html.DevExtreme().ValidationGroup())
    {
        @Html.AntiForgeryToken()

        @(Html.DevExtreme().Form<FormValidationModel>()
            .Width(500)
            .ShowValidationSummary(true)
            .Items(items => {

                items.AddGroup()
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Email);

                        groupItems.AddSimpleFor(m => m.Password)
                            .Editor(e => e.TextBox().Mode(TextBoxMode.Password));

                        groupItems.AddSimpleFor(m => m.ConfirmPassword)
                            .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                    });

                items.AddGroup()
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Number)
                            .Editor(e => e.NumberBox());
                        groupItems.AddSimpleFor(m => m.Date)
                            .Label(l => l.Text("Date"));
                        groupItems.AddSimpleFor(m => m.Date)
                            .Label(l => l.Text("Date Time"))
                            .Editor(e => e.DateBox()
                                .Type(DateBoxType.DateTime));
                        groupItems.AddSimpleFor(m => m.Phone)
                            .HelpText("Phone number")
                            .Editor(e => e.TextBox()
                                .Mask("+66 (X0) 000-0000")
                                .MaskRules(new { X = new JS("/[02-9]/") })
                            );
                    });

                items.AddButton()
                    .HorizontalAlignment(HorizontalAlignment.Left)
                    .ButtonOptions(b => b.Text("Sumit")
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)
                );

            })
            .FormData(Model)
        )
    }
}