@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<h1>@Localizer["Form"]</h1>
@using (Html.BeginForm())
{
    using (Html.DevExtreme().ValidationGroup())
    {
        @Html.AntiForgeryToken()

        @(Html.DevExtreme().Form<FormValidationModel>()
            .Width(500)
            .ShowValidationSummary(true)
            .LabelLocation(FormLabelLocation.Left)
            .Items(items => {

                items.AddGroup()
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Email)
                            .Editor(e => e.TextBox()
                                .StylingMode(EditorStylingMode.Outlined)
                                .LabelMode(EditorLabelMode.Floating));
                        groupItems.AddSimpleFor(m => m.Password)
                            .Editor(e => e.TextBox()
                                .Mode(TextBoxMode.Password)
                                .StylingMode(EditorStylingMode.Outlined)
                                .LabelMode(EditorLabelMode.Floating));
                        groupItems.AddSimpleFor(m => m.ConfirmPassword)
                            .Editor(e => e.TextBox()
                                .Mode(TextBoxMode.Password)
                                .StylingMode(EditorStylingMode.Outlined)
                                .LabelMode(EditorLabelMode.Floating));
                    });

                items.AddGroup()
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.RoleID)
                            .Label(l => l.Text("Role"))
                            .Editor(e => e.SelectBox()
                                .DataSource(new JS("datasource_StaffRole"))
                                .DisplayExpr("RoleName")
                                .ValueExpr("RoleID")
                                .SearchEnabled(true)
                                .ShowClearButton(true)
                            );
                        groupItems.AddSimpleFor(m => m.Number)
                            .Editor(e => e.NumberBox()
                                .StylingMode(EditorStylingMode.Outlined)
                                .LabelMode(EditorLabelMode.Floating));
                        groupItems.AddSimpleFor(m => m.Date)
                            .Label(l => l.Text("Date"))
                            .Editor(e => e.DateBox()
                                .StylingMode(EditorStylingMode.Outlined)
                                .LabelMode(EditorLabelMode.Floating));
                        groupItems.AddSimpleFor(m => m.Date)
                            .Label(l => l.Text("Date Time"))
                            .Editor(e => e.DateBox()
                                .Type(DateBoxType.DateTime)
                                .StylingMode(EditorStylingMode.Outlined)
                                .LabelMode(EditorLabelMode.Floating));
                        groupItems.AddSimpleFor(m => m.Phone)
                            .HelpText("Phone number")
                            .Editor(e => e.TextBox()
                                .StylingMode(EditorStylingMode.Outlined)
                                .LabelMode(EditorLabelMode.Floating)
                                .Mask("+66 (X0) 000-0000")
                                .MaskRules(new { X = new JS("/[02-9]/") })
                            );
                    });

                items.AddButton()
                    .HorizontalAlignment(HorizontalAlignment.Left)
                    .ButtonOptions(b => b.Text("Submit")
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)
                );

            })
            .FormData(Model)
        )
    }
}

<script>

    var datasource_StaffRole = [
            {
                RoleID: 1,
                RoleName: "System Admin"
            }, 
            {
                RoleID: 2,
                RoleName: "Admin"
            }, 
            {
                RoleID: 3,
                RoleName: "HQ User"
            }, 
            {
                RoleID: 4,
                RoleName: "Store Manager"
            }, 
            {
                RoleID: 5,
                RoleName: "Store Cashier"
            }, 
            {
                RoleID: 6,
                RoleName: "Operation Dept."
            }, 
            {
                RoleID: 7,
                RoleName: "Account Dept."
            }, 
            {
                RoleID: 8,
                RoleName: "Purchase Dept."
            }, 
            {
                RoleID: 9,
                RoleName: "Finance Dept."
            }
        ];

</script>