@inject IViewLocalizer Localizer

<H1>@Localizer["GridExample"]</H1>
<br />

<p>Reference: <a href="https://getbootstrap.com/docs/5.1/examples/grid/">https://getbootstrap.com/docs/5.1/examples/grid/</a></p>

<div class="row mb-3" style="border: 1px solid #d6d6d6;">
    <div class="col-md-8 themed-grid-col" style="border: 1px solid #d6d6d6;">
        <div class="pb-3" style="border: 1px solid #d6d6d6;">
        .col-md-8
        </div>
        <div class="row">
            <div class="col-md-6 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-6</div>
            <div class="col-md-6 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-6</div>
        </div>
    </div>
    <div class="col-md-4 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-4</div>
</div>
<br />
<div class="row mb-3" style="border: 1px solid #d6d6d6;">
    <div class="col-md-12 themed-grid-col" style="border: 1px solid #d6d6d6;">
        <div class="pb-3" style="border: 1px solid #d6d6d6;">
        .col-md-8
        </div>
        <div class="row">
            <div class="col-md-6 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-6</div>
            <div class="col-md-6 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-6</div>
        </div>
    </div>
</div>
<br />
<div class="row mb-3" style="border: 1px solid #d6d6d6;">
    <div class="col-md-12 themed-grid-col" style="border: 1px solid #d6d6d6;">
        <div class="pb-3" style="border: 1px solid #d6d6d6;">
        .col-md-8
        </div>
        <div class="row">
            <div class="col-md-3 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-3</div>
            <div class="col-md-9 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-9</div>
        </div>
        <div class="row">
            <div class="pb-3" style="border: 1px solid #d6d6d6;">
                .row pb-3
            </div>
        </div>
    </div>
</div>
<br />
<div class="row mb-3" style="border: 1px solid #d6d6d6;">
    <div class="col-md-8 themed-grid-col" style="border: 1px solid #d6d6d6;">
        
        
        <hr />
        <br />
        <div class="pb-3" style="border: 1px solid #d6d6d6;">
        .col-md-8
        </div>
        <hr />
        <br />
        <div class="pb-3" style="border: 1px solid #d6d6d6;">
        .col-md-8
        </div>
        <hr />
        <br />
        <div class="pb-3" style="border: 1px solid #d6d6d6;">
        .col-md-8
        </div>
        
    </div>
    <div class="col-md-4 themed-grid-col" style="border: 1px solid #d6d6d6;">.col-md-4</div>
</div>