body, html {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

#app-side-nav-outer-toolbar {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
}

.layout-header {
    flex: 0 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 1501;
}

.dx-toolbar{
    padding:10px;
}

.dx-toolbar .dx-toolbar-item.menu-button {
    width: 60px;
    text-align: center;
}

.with-footer > div > div > .dx-scrollable-content {
    height: 100%;
}

.with-footer > div > div > .dx-scrollable-content > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.layout-body {
    flex: 1;
    height: 100%;
    min-height: 0;
}

.layout-body .menu-container {
    padding-top: 1rem;
    height: 100%;
    width: 250px;
}

.layout-body .content {
    flex-grow: 1;
    height: 100%;
    line-height: 1.5;
}

.layout-body .content h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -.5px;
}

.layout-body .content-block {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.layout-body .content-footer {
    display: block;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 20px;
    padding-bottom: 24px;
}

.layout-body .responsive-paddings {
    padding: 20px;
}

.layout-body-hidden {
    visibility: hidden;
}

@media screen and (min-width: 600px) {
    .layout-body .content-block {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .layout-body .responsive-paddings {
        padding: 40px;
    }
}