<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
		<add key="devextreme-controls-netcore" value="https://nuget.devexpress.com/uxzDDCdY5kmrAKAcbcznrceKKakEo8Pb1bDEhz3kqzVLVK6zbf/api" />
		<add key="github" value="https://nuget.pkg.github.com/vTecApp/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="jitthapong-vtec" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>