<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="devextreme-controls-netcore" value="https://nuget.devexpress.com/uxzDDCdY5kmrAKAcbcznrceKKakEo8Pb1bDEhz3kqzVLVK6zbf/api" />
  </packageSources>
</configuration>